*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #010225;
  color: white;
  width: 100%;
  max-width: 100%;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

h1, h2 {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.header {
  background-color: #0C0D2E;
  padding-top: 32px;
  padding-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header.active .header__nav {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.header.active .header__burger span {
  display: none;
}
.header.active .header__burger::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(45deg);
}
.header.active .header__burger::after {
  bottom: 43%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header__container {
  max-width: 1352px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .header__logo {
    max-width: 120px;
  }
}
.header__nav-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
@media (max-width: 768px) {
  .header__nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 100%;
    z-index: 1;
    background-color: #010225;
    transition: all ease-in-out 0.3s;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    padding-top: 170px;
    overflow: hidden;
  }
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 768px) {
  .header__nav-list {
    flex-direction: column;
    text-align: center;
  }
}
.header__nav-link {
  color: white;
}
.header__nav-link:hover {
  color: #189CE8;
  transition: ease-in-out 0.3s;
}
.header__buy {
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  padding: 15px 32px;
  color: white;
}
.header__buy:hover {
  background-color: white;
  color: #0C0D2E;
  transition: ease-in-out 0.4s;
}
@media (max-width: 767px) {
  .header__buy {
    padding: 11px 20px;
    margin-right: 75px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    position: absolute;
    top: 49%;
    right: 15px;
    transform: translateY(-50%);
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 6;
  }
}
@media (max-width: 640px) {
  .header__burger {
    top: 58%;
  }
}
.header__burger::before {
  content: "";
  width: 30px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease-in-out 0.3s;
  background-color: white;
}
.header__burger::after {
  content: "";
  width: 30px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease-in-out 0.3s;
  background-color: white;
}
.header__burger span {
  width: 30px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: all ease-in-out 0.3s;
}

.hero {
  padding-top: 110px;
  padding-bottom: 175px;
  position: relative;
  background-color: #010225;
}
@media (max-width: 640px) {
  .hero {
    padding-bottom: 70px;
  }
}
@media (max-width: 1279px) {
  .hero__content {
    padding-left: 20px;
  }
}
.hero__title {
  font-size: 64px;
  font-weight: 400;
  line-height: 76px;
  padding-bottom: 8px;
  max-width: 557px;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 44px;
    line-height: 56px;
  }
}
@media (max-width: 1024px) {
  .hero__title {
    margin: 0 auto;
  }
}
.hero__text {
  font-size: 12px;
  line-height: 30px;
  max-width: 617px;
  padding-bottom: 14px;
}
@media (max-width: 1024px) {
  .hero__text {
    margin: 0 auto;
  }
}
.hero__app-holder {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .hero__app-holder {
    justify-content: center;
  }
}
.hero__background {
  position: absolute;
  right: 0;
  top: -90px;
}
@media (max-width: 1440px) {
  .hero__background {
    max-width: 440px;
  }
}
@media (max-width: 1024px) {
  .hero__background {
    display: none;
  }
}

.app {
  padding-top: 180px;
  padding-bottom: 160px;
  background-color: #0C0D2E;
}
@media (max-width: 640px) {
  .app {
    padding-bottom: 70px;
  }
}
.app__title {
  font-size: 40px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 16px;
}
.app__text {
  padding-bottom: 44px;
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
}
.app__holder {
  display: flex;
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
}
.app__column-icon-holder {
  padding-bottom: 10px;
  margin: 0 auto;
}
.app__column-icon {
  margin: 0 auto;
}
.app__column-title {
  text-align: center;
}
.app__column-text {
  max-width: 270px;
  text-align: center;
  font-size: 11px;
}
.app__column-link {
  color: #159BE8;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.app__column-link:hover {
  color: white;
  transition: ease-in-out 0.3s;
}

.launch {
  padding-top: 188px;
  padding-bottom: 160px;
  position: relative;
  background-color: #0C0D2E;
}
@media (max-width: 640px) {
  .launch {
    padding-bottom: 70px;
  }
}
.launch__background {
  position: absolute;
  left: -201px;
  transform: rotate(90deg);
  top: -155px;
}
@media (max-width: 1279px) {
  .launch__background {
    display: none;
  }
}
.launch__title {
  font-size: 40px;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 8px;
  max-width: 666px;
}
.launch__desc {
  text-align: center;
  margin: 0 auto;
  max-width: 669px;
  font-size: 12px;
  line-height: 30px;
  padding-bottom: 40px;
}
.launch__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.launch__column {
  max-width: 345px;
  padding-bottom: 45px;
  padding-top: 70px;
}
.launch__column-title {
  font-size: 20px;
  text-align: right;
  padding-bottom: 10px;
  position: relative;
}
.launch__column-title:before {
  position: absolute;
  content: "";
  background-image: url("../../../src/img/launch-icon.png");
  width: 20px;
  height: 20px;
  top: -30px;
  right: 0;
}
.launch__column-title_left {
  font-size: 20px;
  padding-bottom: 10px;
  position: relative;
}
.launch__column-title_left:before {
  position: absolute;
  content: "";
  background-image: url("../../../src/img/launch-icon.png");
  width: 20px;
  height: 20px;
  top: -30px;
  left: 0;
}
.launch__column-text {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}
.launch__column-text_left {
  font-size: 16px;
  line-height: 24px;
}

.mobile {
  padding-top: 108px;
  padding-bottom: 160px;
}
.mobile__holder {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1279px) {
  .mobile__holder {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 1279px) {
  .mobile__content {
    padding-bottom: 80px;
  }
}
.mobile__title {
  color: #159BE8;
  font-size: 18px;
  padding-bottom: 144px;
  text-transform: uppercase;
}
@media (max-width: 1279px) {
  .mobile__title {
    padding-bottom: 40px;
  }
}
.mobile__text {
  font-size: 12px;
  line-height: 30px;
  max-width: 617px;
  padding-bottom: 35px;
}
.mobile__column-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 56px;
}
.mobile__icon {
  padding-bottom: 10px;
}
.mobile__column-title {
  font-size: 20px;
  padding-bottom: 10px;
}
.mobile__column-text {
  font-size: 11px;
  line-height: 24px;
  max-width: 269px;
}
.mobile__link-holder {
  position: relative;
}
.mobile__link-holder:after {
  position: absolute;
  content: "";
  background-image: url("../../../src/img/button-frame.svg");
  width: 70px;
  height: 70px;
  left: 136px;
  top: -17px;
}
.mobile__link {
  color: white;
  background-color: #159BE8;
  padding: 16px 32px 16px 23px;
  border-radius: 100px;
}
.mobile__link:hover {
  background-color: white;
  color: #159BE8;
  transition: ease-in-out 0.3s;
}
.mobile__image-holder {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1280px) {
  .mobile__image-holder {
    flex-wrap: nowrap;
  }
}
@media (max-width: 850px) {
  .mobile__image-holder {
    flex-wrap: wrap;
  }
}
.mobile__image1 {
  max-width: 300px;
}
@media (max-width: 767px) {
  .mobile__image1 {
    max-width: 250px;
  }
}
.mobile__image2 {
  max-width: 300px;
}
@media (max-width: 767px) {
  .mobile__image2 {
    max-width: 250px;
  }
}

.best {
  background-color: #010225;
  padding-bottom: 160px;
}
@media (max-width: 640px) {
  .best {
    padding-bottom: 70px;
  }
}
.best__pre-title {
  color: #159BE8;
  text-align: center;
  padding-bottom: 28px;
  text-transform: uppercase;
}
.best__title {
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
  line-height: 54px;
  font-weight: 400;
  max-width: 623px;
  padding-bottom: 42px;
}
.best__logo-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 80px;
}
@media (max-width: 640px) {
  .best__logo-holder {
    margin: 0 auto;
    width: 50%;
    gap: 30px;
    justify-content: center;
  }
}
@media (max-width: 1279px) {
  .best__logo {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .best__logo {
    width: 120px;
  }
}
.best__column-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .best__column-holder {
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
}
.best__column-stars {
  padding-bottom: 25px;
}
.best__column-text {
  font-size: 17px;
  line-height: 30px;
  max-width: 288px;
  padding-bottom: 24px;
}
.best__column-profile {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.best__column-name-holder {
  padding-top: 8px;
}
.best__profile {
  font-size: 14px;
}

.pricing {
  padding-top: 180px;
  padding-bottom: 50px;
}
.pricing__pre-title {
  text-align: center;
  color: #159BE8;
  padding-bottom: 28px;
  text-transform: uppercase;
}
.pricing__title {
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  padding-bottom: 8px;
  max-width: 645px;
}
.pricing__text {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
  padding-bottom: 76px;
}
.pricing__column-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.pricing__column {
  max-width: 390px;
  width: 100%;
  background-color: #0C0D2E;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 5px 5px;
  border-top: 4px solid #159BE8;
}
.pricing__column_red {
  max-width: 390px;
  width: 100%;
  background-color: #0C0D2E;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 5px 5px;
  border-top: 4px solid #F95B74;
}
.pricing__column-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 40px;
  padding-top: 60px;
}
.pricing__column-price {
  font-size: 40px;
  padding-bottom: 31px;
  text-align: center;
}
.pricing__column-text {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 47px;
}
.pricing__column-link-holder {
  text-align: center;
  padding-bottom: 40px;
}
.pricing__column-link {
  border-radius: 100px;
  color: white;
  padding: 16px 32px;
  border: 2px solid #FFFFFF;
}
.pricing__column-link:hover {
  background-color: white;
  color: #0C0D2E;
  transition: ease-in-out 0.3s;
}

.buy {
  padding-bottom: 80px;
}
.buy__holder {
  background-color: #0C0D2E;
  border-radius: 8px;
  padding-bottom: 120px;
  position: relative;
}
.buy__title {
  padding-top: 140px;
  padding-bottom: 21px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}
.buy__text {
  font-size: 18px;
  line-height: 30px;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 44px;
}
.buy__button-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.buy__buy {
  border-radius: 100px;
  background-color: #159BE8;
  color: white;
  padding: 16px 32px;
}
.buy__buy:hover {
  background-color: white;
  color: #159BE8;
  transition: ease-in-out 0.3s;
}
.buy__view {
  border-radius: 100px;
  border: 2px solid #FFFFFF;
  padding: 16px 32px;
  color: white;
}
.buy__view:hover {
  background-color: #159BE8;
  color: white;
  transition: ease-in-out 0.3s;
}
.buy__background {
  position: absolute;
}
@media (max-width: 1279px) {
  .buy__background {
    display: none;
  }
}
.buy__background2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 1279px) {
  .buy__background2 {
    display: none;
  }
}

.footer {
  padding-bottom: 50px;
}
.footer__logo {
  margin: 0 auto;
  padding-bottom: 30px;
}
.footer__title {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  padding-bottom: 20px;
}
.footer__social-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 35px;
  align-items: center;
}
.footer__form {
  text-align: center;
}
.footer__form-title {
  text-align: center;
  font-size: 24px;
  padding-bottom: 10px;
}
.footer__input {
  max-width: 400px;
  width: 100%;
  background-color: #010225;
  border: 2px solid #282B53;
  border-radius: 1px;
  max-height: 48px;
  height: 48px;
  margin-bottom: 52px;
  color: white;
}
.footer__submit {
  text-align: center;
  border-radius: 100px;
  background-color: #159BE8;
  display: block;
  padding: 16px 32px;
  color: white;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
}
.footer__submit:hover {
  background-color: white;
  color: #159BE8;
}
/*# sourceMappingURL=main.css.map */
