.best{

  background-color: $deep-blue;
  padding-bottom: 160px;

  @media (max-width: 640px) {
    padding-bottom: 70px;
  }

  &__pre-title{
    color: #159BE8;
    text-align: center;
    padding-bottom: 28px;
    text-transform: uppercase;
  }

  &__title{
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    line-height: 54px;
    font-weight: 400;
    max-width: 623px;
    padding-bottom: 42px;
  }


  &__logo-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;

    @media (max-width: 640px) {
      margin: 0 auto;
      width: 50%;
      gap: 30px;
      justify-content: center;
    }
  }
  
  &__logo{

    @media (max-width: 1279px) {
      width: 150px;
    }

    @media (max-width: 768px) {
      width: 120px;
    }
  }

  &__column-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 640px) {
      justify-content: center;
      width: 50%;
      margin: 0 auto;
    }
  }

  &__column-stars{
    padding-bottom: 25px;
  }

  &__column-text{
    font-size: 17px;
    line-height: 30px;
    max-width: 288px;
    padding-bottom: 24px;
  }

  &__column-profile{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__column-name-holder{
    padding-top: 8px;
  }

  &__profile{
    font-size: 14px;
  }
}