.hero{

  padding-top: 110px;
  padding-bottom: 175px;
  position: relative;
  background-color: #010225;

  &__title{
    font-size: 64px;
    font-weight: 400;
    line-height: 76px;
    padding-bottom: 8px;
    max-width: 557px;

    @include breakpoint('md'){
      font-size: 44px;
      line-height: 56px;
    }

    @include breakpoint('lg'){
      margin: 0 auto;
    }
  }

  &__text{
    font-size: 12px;
    line-height: 30px;
    max-width: 617px;
    padding-bottom: 14px;

    @include breakpoint('lg'){
      margin: 0 auto;
    }
  }

  &__app-holder{
    display: flex;
    flex-wrap: wrap;

    @include breakpoint('lg'){
      justify-content: center;
    }
  }

  &__background{
    position: absolute;
    right: 0;
    top: -90px;

    @include breakpoint('xxl'){
      max-width: 440px;
    }

    @include breakpoint('lg'){
      display: none;
    }
  }
}